*.exe
*.o

# outputted from tga
*.dmp

# outputted from lzw
*.lzw
*.unc

auto/
WEBSSW/

# outputted by latex and its various helper programs.
*.aux
*.idx
*.log
*.out
*.toc
*.pdf
*.run.xml
*.blg
*.bbl
*.ilg
*.ind
*.loa
*.bcf
*.lof
*.lot

*.stackdump

src/