*.exe
*.o

# outputted from tga.exe.
*.dmp

auto/

# outputted by latex and its various helper programs.
*.aux
*.idx
*.log
*.out
*.toc
*.pdf
*.run.xml
*.blg
*.bbl
*-blx.bib
*.ilg
*.ind
*.loa

*.stackdump
